<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/game.css">
</head>
<body>

<div class="vas">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/Epic_Games_logo.png" alt="">
    <a href="#">Support</a>
    <a href="#">Distribute</a>
    <a href="#">Store</a>
    <a href="#">Register</a>

    <div class="con">
        <button> Download </button>
    </div>
</div>
<div class="bon">

</div>

<div class="fort">
    Fortnite
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/0fRBmXtfo_8?si=zM2IimWFGtuR_IzZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<div class="bio">
    Create, play, and battle with friends for free in Fortnite. Be the last player standing in Battle Royale and Zero Build, experience a concert or live event, or discover over a million creator made games, including racing, parkour, zombie survival, and more. Each Fortnite island has an individual age rating so you can find the one that's right for you and your friends. Find it all in Fortnite ... Drop In.
</div>
<button class="click">
    Get
</button>


</body>
</html>