<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Epic games</title>
    <link rel="stylesheet" href="../styles/games.css">

    <script src="../utils/jquery-3.7.1.js"></script>
    <script src="../utils/paths.js"></script>
    <script src="../utils/apiMethods.js"></script>

    <script src="../scripts/games.js"></script>
</head>
<body>

<div class="vas">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/Epic_Games_logo.png" alt="">
    <a href="#">Support</a>
    <a href="#">Distribute</a>
    <a href="#">Store</a>
    <a href="#">Register</a>

    <div class="con">
        <button> Download </button>
    </div>
</div>
<div class="bon">

</div>


</body>
</html>