*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #171717;
}

.cart{
 
    background-color: #252326;
    border: 0px;
    border-radius: 7%;
    color: rgb(112, 112, 112);
}


.login{
    z-index: 3;
    display : flex;
    position: absolute;
    left: 60%;
    flex-direction: column;
    border: 0px;
    background-color: #373438;
    padding: 10px;
   height: 25%;
    width: 30%;
    border-radius: 5px;
    margin-bottom: 20px;
}

#logo{
    width:3vw;
    height:7vh;
    margin-left: 40px;
}

#username{
    margin-top: 7px;
    display: flex;
    align-self: center;
    color: rgb(151, 151, 151);
    font: 1.1rem "Fira Sans", sans-serif;
}

#hr1{
    color:rgb(255, 255, 255);
    width: 40px;
    transform: rotate(90deg);
    margin: 0px 15px;
}

*{
    margin: 0;
    padding: 0;
}

#carouselExampleAutoplaying{
    width: 65%;
    margin: auto;
}

.body{
    width: 100%;
background-color: #171717;
}

.user-info{

    display: none;

 
}

.end_header{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 30px;
}


.item1{
    color: white;
    text-decoration: none;
    margin-right: 25px;
    font: 1.2rem "Fira Sans", sans-serif;
    transform: scale(0.8, 1.6);
    font-weight: 800;
}

.item2{
  
    margin-right: 25px;
    font: 1.1rem "Fira Sans", sans-serif;
   padding: 5px 12px;
   background-color: #252326;
   border: 0px;
   border-radius: 7%;
   color: rgb(112, 112, 112);
   text-decoration: none;
}


.admin_function{
    width: 200px;
    margin: 0px;
}

#login2{
    margin-left: 25vw;
}
  

.download{
    margin: auto;
   height: 60%;
    margin-left: 40px;
     font-size: 17px;
     padding: 5px 10px;
     border: 0px;
     border-radius: 12%;
     background-color: rgb(46, 165, 255);
     transition: all 0.2s;
 }

 .download:hover{
    background-color: rgb(101, 185, 249);
    transition: all 0.2s;
 }


.item2:hover{
   background-color: rgb(87, 87, 87) ;
   transition: all 0.5s;
color: rgb(255, 255, 255);


}

#logout-btn{
    margin-top: 7px;
    display: flex;
    align-self: center;
    border: 0px;
    font-size: 17px;
     padding: 5px 10px;
     border-radius: 12%;
}

.vas {
   
   
    margin-bottom: 10px;

    display: flex;
    align-items: center;

    height: 10vh;
    font-size: 30px;
    background-color: #252326;
    width: 100%;
}



header ul{
    display: flex;
    align-items: center;

}

header li{
    list-style: none;
    margin:  0 20px;
}

#login{
   
        margin: 9px auto ; 
        height: 30px;
        width: 94%;
        border: 1px solid #0059fa;
        border-radius: 3px;
        background-color: #0059fa;
        padding: 6px;
        color: white;
        font-size: 14px;
        font-weight: 500;
    
}


.buy{
    padding: 2px 9px;
    margin-top: 2px;
    background-color: rgb(255, 200, 0);
    border:0px ;
    border-radius: 2px;
}

.icon{
    object-fit: cover;
    width: 90%;
     height:290px;
     border-radius: 7px;
}
.bon{
    padding: 30px 75px;
    height: 550px;
display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#carouselExampleAutoplaying{
    margin-top: 100px;
}

.bon2{
    margin: 60px 30px;
    padding: 15px;
display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 550px;
    
}
.game-card{
    margin: 15px;
    color: white;
padding-bottom: 150px;
transition: all 0.5s;
}

.game-card:hover{
    scale: 1.1;
    transition: all 0.5s;
   
}

.name{
    font: 1.4rem "Fira Sans", sans-serif;
    width: 220px;
    font-weight: 500;
    margin: 7px 0px;
}

.price{
    font: 0.9rem "Fira Sans", sans-serif;
    margin: 7px 0px;
}

.input{

    height: 30px;
    width: 90%;
    background-color: #373438;
   border: 1px solid white;
    padding: 5px;
    margin: 7px auto ;
    border-radius: 3px;
    color: white;
    font-size: 16px;
}

.bottom{
    margin-top: 100px;
    width: 100%;

    background-color: rgb(40, 40, 40);
    display: grid;

    align-items: center;
}

.bottom2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo2{
align-self: center;
    width: 4vw;
    height: 10vh;
    margin: 35px;
}

.line{
    align-self: center;
    width: 90vw;
    color: rgb(217, 217, 217);
}

.text2{
    color: rgb(217, 217, 217);
    padding-left: 90px;
    margin: 10px;
    width: 45vw;
    align-self: flex-start;
}

.progect{
    align-self: flex-start;
    padding-left: 90px;
    display: flex;flex-direction: column;
}

.Name2{
    color: rgb(217, 217, 217);
}



.Name1_1{

    display: flex;

}
.Name1_2{
    margin: 20px;
    color: rgb(217, 217, 217);
    display: flex;
    flex-direction: column;
}

.it{
    margin: 4px;
}